
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #d9ded8;
}

h1 {
    text-align: center;
    font-size: 175%;
}


h2{
    float: right;
    width: 200px;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    text-align: center;
    font-size: 125%;
    color: white;
}

section {
    padding: 15px;
}

p {
    clear: right;
    padding: 10px;
}

div {
    
    background-color: #666c62;
    border: 2px solid black;
}

.title1 {  
    background-color: #bf934c;
    color: black;
}

.title2 {
    background-color: #924d23;
}

.title3 {
    background-color: #916f65;
    color: black;
}


/*desktop*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;

    }
    .colmn-md-12 {
        float: left;
        width: 100%;
    }
}

/*mobile*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
    }
}   
